body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #36D1DC, #5B86E5);
    background-size: cover;
    background-attachment: fixed;
    animation: gradientAnimation 10s ease infinite;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#time {
    font-size: 5vw; /* Responsive font size */
    margin-bottom: 20px;
}

.alarm {
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Adjusted for responsiveness */
    align-items: center; /* Center elements vertically */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.alarm:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

#setAlarmAt,
#period {
    font-size: 3vw; /* Responsive font size */
}

#ringtone {
    font-size: 3vw; /* Responsive font size */
    width: 100%; /* Ensure the select element takes up the entire width */
    padding: 10px; /* Add some padding for better spacing */
}

#set {
    display: inline-block;
    padding: 2vw 4vw; /* Responsive padding */
    font-size: 2vw; /* Responsive font size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #FF6B6B, #FF8E53);
    color: white;
    transition: transform 0.2s ease-in-out;
    margin-top: 20px; /* Adjusted margin for better spacing */
}

#set:hover {
    transform: scale(1.05);
}

.alarm-details {
    margin-top: 25px;
    flex: 1;
    padding: 3vw; /* Responsive padding */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .main {
        width: 90%;
    }
    
    #time {
        font-size: 3rem;
    }
    
    #setAlarmAt,
    #period,
    #ringtone {
        font-size: 1.2rem;
    }
    
    #set {
        font-size: 1rem;
    }
    
    .alarm {
        padding: 10px;
    }
}
